simulator/peers/data/*
protocol/protocol
protocol/committee/committee
protocol/consensus/consensus
*.pickle
*.pyc
*.gz
*.csv
*.log
simulator/peers/client/__pycache__
simulator/ipfs/*
.env
protocol/consensus/peers.json
simulator/peers/peers.json
simulator/peers/client/peers.json
