simulator/data/*
protocol/protocol
protocol/committee/committee
protocol/consensus/consensus
*.pickle
*.pyc
*.gz
*.csv
*.log
simulator/client/__pycache__
simulator/ipfs/*
.env
protocol/consensus/peers.json
simulator/peers.json
simulator/client/peers.json
simulator/docker-compose.yaml
simulator/client/config.json
goshimmer
*.rdb